<h4 class="text-center">Ingresar Gasto</h4>
<hr>

<div *ngIf="formulario" class="text-center" >
    <span class="badge bg-danger texterror">{{textIncorrecto | uppercase }}</span>
</div>

<div class="form-group mb-4">
    <label for="gasto">Gasto</label>
    <input type="text" [(ngModel)]="nombreGasto" id="gasto" class="form-control form-control-lg" placeholder="EJ: Comida">
</div>
<div class="form-group mb-4">
    <label for="cantidad">Cantidad</label>
    <input type="number" [(ngModel)]="cantidad" id="cantidad" class="form-control form-control-lg" placeholder="Ingrese la cantidad..">
</div>

<button class="btn btn-secondary btn-lg btn-block mt-2" (click)="agregarGasto()">Agregar Gasto</button>
